extends ../shared/template
//- adds the template for the links above the pages and the other data -//
block content

  h2 Items Page

    table.table.table-hover.table-bordered
      thead
        tr
          th Name
          th Length
          th Width
          th Height
          th Weight
          th Quantity
          th MSRP
          th Percent Off
          th Cost
      tbody

      each item in items
        tr.item(style='background-color:#{item.color};')
          td: a(href='/items/#{item._id}')= item.name
          td #{item.dimensions.l}in
          td #{item.dimensions.w}in
          td #{item.dimensions.h}in
          td #{item.weight}lbs
          td #{item.quantity}
          td $#{item.msrp.toFixed(2)}
          td #{item.percentOff}%
          td $#{item.cost().toFixed(2)}

