doctype html
html
  head
    meta(charset='utf-8')
    title eCommerce
    link(rel='stylesheet', href='/css/style.css')
    body(style='background-color:#{item.color};')
  body
    h1 eCommerce
    h2 Items Table
    nav
      ul
          li: a(href='/') Home
          li: a(href='/about') About
          li: a(href='/faq') Faq
          li: a(href='/items/new') Add Items
          li: a(href='/items') Items Page
          
          table.table.table-hover.table-bordered
            thead
              tr
                th Name
                th Length
                th Width
                th Height
                th Weight
                th Quantity
                th MSRP
                th Percent Off
                th Cost
            tbody

              tr.item(style='background-color:#FFDBAA;')
                td: a(href='/items/#{item._id}')= item.name
                td #{item.dimensions.l}in
                td #{item.dimensions.w}in
                td #{item.dimensions.h}in
                td #{item.weight}lbs
                td #{item.quantity}
                td $#{item.msrp.toFixed(2)}
                td #{item.percentOff}%
                td $#{item.cost().toFixed(2)}
              
    #delete

      form(method='post', action='/items/#{item._id}')
        //-this is the new input to delete. also removed "/delete" from item._id-//
        input(type='hidden', name='_method', value='delete')
        button Delete Item
          


